@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
   
}

li,a,button{
    font-family: "Montserrat",sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #000000 ;
    text-decoration: none;

}

.head{
    display: flex;
    justify-content:center ;
    padding: 25px 10%;
    /* align-items: center; */
    /* position: fixed; */
    
    /* background-color: rgb(53, 53, 50); */
}

.logo{
    cursor: pointer;
    color: rgb(38, 24, 230);
    font-family: "Montserrat",sans-serif;
    font-weight: bold;
}

.nav_links{
list-style: none;

}

.nav_links li{
    display: inline-block;
    padding: 0px 20px;
    
}

.nav_links li a{
    transition: all 0.3s ease 0s;
}

.nav_links li a:hover{
    color: #141198;

}

button{
    padding: 9px 25px;
    background-color: rgb(30, 20, 176); 
    border: none;
    color: #ffffff;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover{
    background-color: rgba(41, 63, 173, 0.8); 
}

/* css for section 1 */

/* .container{
    width: 100%;
    height: 100vh;
    

} */

.slides{
    width: 100%;
    height: 100vh;
    display: flex;
    
   
    color: rgb(0, 0, 0);
    
}

.s1 img{
    width: 350px;
    mix-blend-mode: multiply;
}

.s1
{
    align-items: center;
    justify-content: center;
    gap: 200px;
    font-size: 30px;
    background-image: url(image/hero-bg.png);
    background-size: contain;
display: flex;
    flex-wrap: wrap;
    
}

p{
    font-size:30px;
}


.s2{
    text-align: center;
    color: #6d6565;
    
}
.s2 img{
    width: auto;
    height: auto;
    margin: 70px;
   
}

.s3{
    

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
    
    font-size: 30px;
}
/* .s3 img{
    width: 600px;
} */

.prot{
    display: flex;
    
}
.fast{
    display: flex;
   
}

.vect{
    display: flex;
   
}

.foot{
    
text-align: center;
padding: 30px;

}
.footcont{
    padding: 30px;
margin: 10px;

}
.logos{
margin-bottom: 20px;

}
.f-navbar{
    color: #ffffff;
}

